<h4 class="types">Images of macarones<img src="/images/gest.jpg" alt="gest" width="40px"></h4>

{{#each images}}
    <img src={{this}} alt="wywalił się obrazek {{this}}" width="40%" class="pastas">
{{/each}}
